<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Product">
        <plugin name="Magefan_XmlSitemap_Plugin_Magento_Sitemap_Model_ResourceModel_Catalog_Product" type="Magefan\XmlSitemap\Plugin\Magento\Sitemap\Model\ResourceModel\Catalog\Product" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Category">
        <plugin name="Magefan_XmlSitemap_Plugin_Magento_Sitemap_Model_ResourceModel_Catalog_Category" type="Magefan\XmlSitemap\Plugin\Magento\Sitemap\Model\ResourceModel\Catalog\Category" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Sitemap\Model\ResourceModel\Cms\Page">
        <plugin name="Magefan_XmlSitemap_Plugin_Magento_Sitemap_Model_ResourceModel_Cms_Page" type="Magefan\XmlSitemap\Plugin\Magento\Sitemap\Model\ResourceModel\Cms\Page" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magefan\Blog\Model\ResourceModel\Post\Collection">
        <plugin name="Magefan_XmlSitemap_Plugin_Magefan_Blog_Model_ResourceModel_Post_Collection" type="Magefan\XmlSitemap\Plugin\Magefan\Blog\Model\ResourceModel\Post\Collection" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magefan\Blog\Model\ResourceModel\Category\Collection">
        <plugin name="Magefan_XmlSitemap_Plugin_Magefan_Blog_Model_ResourceModel_Category_Collection" type="Magefan\XmlSitemap\Plugin\Magefan\Blog\Model\ResourceModel\Category\Collection" sortOrder="10" disabled="false"/>
    </type>

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="mfXmlSitemapAdditionalLinks" xsi:type="object">Magefan\XmlSitemap\Model\ItemProvider\AdditionalLinks</item>
            </argument>
        </arguments>
    </type>

</config>